$backgroundColor: rgb(19, 117, 6);
$color: rgb(230, 247, 3);

    .container__nav {
        position: sticky;
        margin: 0 auto;
        width: 90%;
        top:0;
        nav {
        position: relative;
        top:1em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 30px; 
        background: $backgroundColor;
        a {
           color: $color;
           text-decoration: none;
           margin-right: 2em;
           &:hover {
               cursor: pointer;
           } 
        }
    }
    }


.container_app {
    display: flex;
    justify-content: center;

}