<div class="container__visites">
        <button  mat-flat-button (click)="openDialog()">Ajouter une visite</button>
        <div class="container__visites__table">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!-- leaders Column -->
                        <ng-container matColumnDef="leaders">
                          <th mat-header-cell *matHeaderCellDef> leaders </th>
                          <td mat-cell *matCellDef="let element"> {{element.leaders}} </td>
                        </ng-container>
                      
                        <!-- hote Column -->
                        <ng-container matColumnDef="hotes">
                          <th mat-header-cell *matHeaderCellDef> hote </th>
                          <td mat-cell *matCellDef="let element"> {{element.hote}} </td>
                        </ng-container>
                      
                        <!-- date Column -->
                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef> date </th>
                          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                      
                        <!-- observations Column -->
                        <ng-container matColumnDef="observations">
                          <th mat-header-cell *matHeaderCellDef> observations </th>
                          <td mat-cell *matCellDef="let element"> {{element.observations}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

        </div>
</div>

