
.container__home {
   position: relative;
   top: 15em;
   background: yellow;
   display: center;
   justify-content: center;

  & h1:first-child span {
    color:red;
  }
}
h1 {
   letter-spacing: 2px;
}